@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --Light-Orange-gradient: linear-gradient(30deg, #21024D 0%, #601436 19%, #AA2A1D 50%, #FF4300 75%, #FF8C62 94%);
  --Outline: linear-gradient(90deg, #DBDDFB 0%, #555886 35%, #DBDDFB 99%);
  --cards: linear-gradient(90deg, #FFFFFF 3%, #040B59 52%, #010425 100%);
  --blue-1: linear-gradient(90deg, #040B59 0%, #024893 39%, #0094DC 58%, #00B2F9 79%, #91E0FF 95%);
  --gradient-3: linear-gradient(90deg, #FFFFFF 0%, #999999 100%);
  --gradient-outline-4: linear-gradient(90deg, #DBDDFB 0%, #555886 35%, #DBDDFB 99%);
  --radial-blue: radial-gradient(circle, #00B2F9 0%, #00AEF5 7%, #0088CD 11%, #010101 15%, #00498D 19%, #003174 24%, #001F62 30%, #001254 36%, #000B4D 45%, #01094B 61%, #000000 100%);
}

/* globals.css */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}


  